body {
    background-color: black;
    color: yellow;
}
a{
    text-decoration: none;
    color: yellow;
    
}
header nav ul li {
    display: inline-block;
    padding: 30px;
}

header h1{
    text-align: center
        }
main h4 {
    text-align: left;

}
footer{
    color:#ff0f;
    text-align: center
    
}
}
h3 {
    text-align: center
}
